// Font Variables;

// Color
$text-light : #979797;
$text-dark : #212121;
$text-primary : #0065f2;
$text-secondary : #ff7300;
$text-danger : #f44336;
$text-success : #64b102;
$text-error : #ed0303;
$text-process : #64b102;

$bg-primary : #0065f2;
$bg-secondary : #ff7300;

// Font-weight 
$text-bold : 600;

// Font Size
$text-xlarge : 2.5rem;
$text-large : 1.75rem;
$text-large1 : 1.625rem;
$text-large2: 1.25rem; 
$text-large3 : 1.125rem;
$text-large4 : 1rem;
$text-large5 : 1.5rem;
$text-medium : 0.875rem;
$text-medium2 : 0.75rem; 